@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 1px solid black;
}

body {
  font-family: "Poppins";
  width: 100vw;
  background-color: hsl(0, 0%, 98%);
  font-size: 15px;
  container-type: inline-size;
}

main {
  width: 375px;
  padding: 90px 32px 32px 32px;
  display: block;
  margin: auto;
  box-sizing: border-box;
}

/* HEADER */
header h1 {
  font-size: 1.5em;
  font-weight: 200;
  color: hsl(234, 12%, 34%);
  font-family: "Poppins";
  text-align: center;
}
header h2 {
  font-size: 1.5em;
  font-weight: 600;
  color: hsl(234, 12%, 34%);
  font-family: "Poppins";
  text-align: center;
}
header .p-text {
  font-size: 15px;
  font-weight: 400;
  color: hsl(229, 6%, 66%);
  font-family: "Poppins";
  text-align: center;
  line-height: 1.5;
  padding-top: 26px;
  padding-bottom: 78px;
}

/* MAIN CONTENT */
section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 26px;
}

article {
  width: 311px;
  height: 222px;
  padding: 28px;
  border-radius: 5px;
  margin-bottom: 26px;
  box-sizing: border-box;
  box-shadow: 0 0 20px hsl(229, 6%, 66%);
}
article h3 {
  font-size: 1.2em;
  font-weight: 600;
  color: hsl(234, 12%, 34%);
  font-family: "Poppins";
  text-align: left;
  line-height: 1;
  padding-bottom: 12px;
}
article .s-text {
  font-size: 0.8em;
  font-weight: 400;
  color: hsl(229, 6%, 66%);
  font-family: "Poppins";
  text-align: left;
}
article img {
  width: 57px;
  height: 57px;
  float: right;
  padding-bottom: 28px;
  padding-top: 36px;
}

#supervisor {
  border-top: 4px solid hsl(180, 62%, 55%);
}

#team-builder {
  border-top: 4px solid hsl(0, 78%, 62%);
}

#karma {
  border-top: 4px solid hsl(34, 97%, 64%);
}

#calculator {
  border-top: 4px solid hsl(212, 86%, 64%);
  margin-bottom: 0;
}

@media (width > 40em) {
  main {
    width: 100%;
    padding: 44px 44px 90px 90px;
  }
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  header h1, header h2 {
    font-size: 2em;
  }
  header .p-text {
    max-inline-size: 55ch;
    text-align: center;
    padding-top: 14px;
    padding-bottom: 36px;
  }
  section {
    display: grid;
    grid-template-areas: "supervisor   team    calculator" ".            karma   .";
    gap: 30px;
    justify-content: space-between;
  }
  section article {
    width: 350px;
    height: 250px;
    box-sizing: border-box;
  }
  section article h3 {
    padding-bottom: 20px;
  }
  section article img {
    width: 64px;
    height: 64px;
    padding-top: 42px;
  }
  section article .s-text {
    font-size: 15px;
  }
  section #supervisor {
    grid-area: supervisor;
    margin-top: 140px;
  }
  section #team-builder {
    grid-area: team;
  }
  section #karma {
    grid-area: karma;
    margin-top: -140px;
  }
  section #calculator {
    grid-area: calculator;
    margin-bottom: 0;
    margin-top: 140px;
  }
  section :first-child {
    align-self: auto;
  }
}