*{
    padding: 0;
    margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$red: hsl(0, 78%, 62%);
$cyan: hsl(180, 62%, 55%);
$orange: hsl(34, 97%, 64%);
$blue: hsl(212, 86%, 64%);
$very-dark-blue: hsl(234, 12%, 34%);
$grayish-blue: hsl(229, 6%, 66%);
$very-light-gray: hsl(0, 0%, 98%);
$f-size-100: 15px;
$f-size-150: 1.5em;
$f-size-200: 0.8em;
$f-size-250: 1.2em;
$f-size-300: 2em;
$f-weight-200: 200;
$f-weight-400: 400;
$f-weight-600: 600;
$poppins: 'Poppins';

body{
    font-family: $poppins;
    width: 100vw;
    background-color: $very-light-gray;
    font-size: $f-size-100;
    container-type: inline-size;
}

main {
    width: 100%;
    padding: 90px 32px 32px 32px;
    margin: auto;
    box-sizing: border-box;
}

@mixin fonts ($size, $weight, $color, $family, $align){
    font-size: $size;
    font-weight: $weight;
    color: $color;
    font-family: $family;
    text-align: $align;
}

/* HEADER */
header {
    animation: 1.5s linear normal forwards scale-up;

    h1 {
        @include fonts(1.5em, $f-weight-200, $very-dark-blue, $poppins, center)
    }
    h2 {
        @include fonts(1.5em, $f-weight-600, $very-dark-blue, $poppins, center)
    }
    .p-text {
        @include fonts($f-size-100, $f-weight-400, $grayish-blue, $poppins, center);
        line-height: 1.5;
        padding-top: 26px;
        padding-bottom: 78px;
        max-inline-size: 55ch;
        margin: auto;
    }
}


/* MAIN CONTENT */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 26px;
    

// INDIVIDUAL BOXES     
    .box {
        width: 311px;
        box-sizing: border-box;
        position: relative;
        display: flex;
        flex-direction: column;
        padding: 28px;
        border-radius: 5px;
        box-shadow: 0 10px 20px -8px $grayish-blue;
        animation: 1.5s linear normal forwards scale-up;

        &:hover {
            cursor: pointer;
            background-color: darken($color: $very-light-gray, $amount: 10%)
        }
    
        h3 {
            @include fonts($f-size-250, $f-weight-600, $very-dark-blue, $poppins, left);
            line-height: 1;
            padding-bottom: 12px
        }
        .s-text {
            @include fonts(0.8em, $f-weight-400, $grayish-blue, $poppins, left);
            
        }
        img {
            width: 57px;
            height: 57px;
            float: right;
            padding-top: 36px;
            align-self: end
        }
    }

    // INNER BOX FOR TEAM BUILDER AND KARMA
    .inner-container {
        display: flex;
        flex-direction: column;
        gap: 26px;
        width: 311px;
        
    
        #team-builder {
            border-top: 4px solid $red;

            &:hover {
                background-color: lighten($color: $red, $amount: 25%);
                transition: background-color 0.5s;
            }
        }
    
        #karma {
            border-top: 4px solid $orange;
            margin-bottom: 0;

            &:hover {
                background-color: lighten($color: $orange, $amount: 25%);
                transition: background-color 0.5s;
            }
        }
    }
   
    
    #supervisor {
        border-top: 4px solid $cyan;

        &:hover {
            background-color: lighten($color: $cyan, $amount: 25%);
            transition: background-color 0.5s;
        }
    }
    
    #calculator {
        border-top: 4px solid $blue;
        margin-bottom: 0;

        &:hover {
            background-color: lighten($color: $blue, $amount: 25%);
            transition: background-color 0.5s;
        }
    }
}

    .attribution { 
        font-size: 11px; 
        text-align: center; 
        font-family: $poppins;
        position: relative;
        bottom: 5px;
        font-weight: $f-weight-400;
        font-size: $f-size-100;
    }
    .attribution a { 
        color: $very-dark-blue; 
        text-decoration: none;

        &:hover {
            color: $grayish-blue;
        }
    }

// KEYFRAMES
@keyframes scale-up {
    from {
        transform: scale(0.8);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
  }

// MEDIA QUERY - Screens bigger than 45em (720px)

@media(width > 45em) {
    header {
        h1 {
            font-size: 2.5em;
        }
    
        h2 {
            font-size: 2.5em;
        }
    }
    .container {
        flex-flow: row wrap;

        .box {
            flex-grow: 1;
            height: 250px;

            .s-text {
                font-size: $f-size-100;
            }
            
            img {
                width: 64px;
                height: 64px;
            }
        }

        .inner-container {
            width: auto;
            flex-direction: row;
            order: 2;            
            flex-grow: 1;

            .inner {
                width: 100%;
            }
        }
    }
}


// MEDIA QUERY - Screens bigger than 69em (1104px)
@media (width >= 69em) {

    .container {
        flex-direction: row;

        .box {
            max-width: 350px;
        }

        #calculator {
            order: 2;
        }
    
            .inner-container {
                flex-direction: column;
                max-width: 360px;
            }
    }

}
