@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Poppins";
  width: 100vw;
  background-color: hsl(0, 0%, 98%);
  font-size: 15px;
  container-type: inline-size;
}

main {
  width: 100%;
  padding: 90px 32px 32px 32px;
  margin: auto;
  box-sizing: border-box;
}

/* HEADER */
header {
  animation: 1.5s linear normal forwards scale-up;
}
header h1 {
  font-size: 1.5em;
  font-weight: 200;
  color: hsl(234, 12%, 34%);
  font-family: "Poppins";
  text-align: center;
}
header h2 {
  font-size: 1.5em;
  font-weight: 600;
  color: hsl(234, 12%, 34%);
  font-family: "Poppins";
  text-align: center;
}
header .p-text {
  font-size: 15px;
  font-weight: 400;
  color: hsl(229, 6%, 66%);
  font-family: "Poppins";
  text-align: center;
  line-height: 1.5;
  padding-top: 26px;
  padding-bottom: 78px;
  max-inline-size: 55ch;
  margin: auto;
}

/* MAIN CONTENT */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 26px;
}
.container .box {
  width: 311px;
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 28px;
  border-radius: 5px;
  box-shadow: 0 10px 20px -8px hsl(229, 6%, 66%);
  animation: 1.5s linear normal forwards scale-up;
}
.container .box:hover {
  cursor: pointer;
  background-color: #e0e0e0;
}
.container .box h3 {
  font-size: 1.2em;
  font-weight: 600;
  color: hsl(234, 12%, 34%);
  font-family: "Poppins";
  text-align: left;
  line-height: 1;
  padding-bottom: 12px;
}
.container .box .s-text {
  font-size: 0.8em;
  font-weight: 400;
  color: hsl(229, 6%, 66%);
  font-family: "Poppins";
  text-align: left;
}
.container .box img {
  width: 57px;
  height: 57px;
  float: right;
  padding-top: 36px;
  align-self: end;
}
.container .inner-container {
  display: flex;
  flex-direction: column;
  gap: 26px;
  width: 311px;
}
.container .inner-container #team-builder {
  border-top: 4px solid hsl(0, 78%, 62%);
}
.container .inner-container #team-builder:hover {
  background-color: #f8c4c4;
  transition: background-color 0.5s;
}
.container .inner-container #karma {
  border-top: 4px solid hsl(34, 97%, 64%);
  margin-bottom: 0;
}
.container .inner-container #karma:hover {
  background-color: #fee7c8;
  transition: background-color 0.5s;
}
.container #supervisor {
  border-top: 4px solid hsl(180, 62%, 55%);
}
.container #supervisor:hover {
  background-color: #acecec;
  transition: background-color 0.5s;
}
.container #calculator {
  border-top: 4px solid hsl(212, 86%, 64%);
  margin-bottom: 0;
}
.container #calculator:hover {
  background-color: #cbe1fb;
  transition: background-color 0.5s;
}

@keyframes scale-up {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
@media (width > 45em) {
  header h1 {
    font-size: 2.5em;
  }
  header h2 {
    font-size: 2.5em;
  }
  .container {
    flex-flow: row wrap;
  }
  .container .box {
    flex-grow: 1;
    height: 250px;
  }
  .container .box .s-text {
    font-size: 15px;
  }
  .container .box img {
    width: 64px;
    height: 64px;
  }
  .container .inner-container {
    width: auto;
    flex-direction: row;
    order: 2;
    flex-grow: 1;
  }
  .container .inner-container .inner {
    width: 100%;
  }
}
@media (width >= 69em) {
  .container {
    flex-direction: row;
  }
  .container .box {
    max-width: 360px;
  }
  .container #calculator {
    order: 2;
  }
  .container .inner-container {
    flex-direction: column;
    max-width: 360px;
  }
}